body {
  background-image: url(img/sfondo-footer-radice-labirinto-2018.jpg);
  background-attachment: fixed;
  /* DA METTERE A POSTO LA RIPETIZIONE DELL'IMMAGINE SENNO CAMBIARE IMMAGINE */
}

#logo {
  text-align: center;
  display: block;
  opacity: 0.8;
  margin-top: 5px;
}

h4,
h3 {
  font-family: "Averia Libre", cursive;
  font-size: 25px;
  color: #8a8181;
  text-align: center;
  margin: 8px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
}

li {
  display: inline-block;
  
}

li a {
  display: block;
  color: #ffffff;
  padding: 10px 16px;
  text-decoration: none;
  transition-duration: 0.5s;
  opacity: 0.7;
  font-size: 22px;
}

li:hover {
}


li a:hover {
  opacity: 1;
}

.flex-container {
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
  
  
}

.box {
  padding: auto;
  margin: auto;
  
}

.box img {
  border: 5px solid #e9cfae;
  height: 400px;
  
}

.scatolepiccole{
  display:flex;
  padding: 30px;
  flex-direction: row;
  
}

.scatolepiccole img{
  height: 250px;
  border: 5px solid #e9cfae;
  
  }

  .boxpiccole{
    
  }
  
 
  


/* Media queries */

@media screen and (max-width:844px){
  body{
    background-attachment: fixed;
  }
}
/* Laptop */
@media only screen and (min-width: 992px) {
  body{
    background-attachment: fixed;
  }


}

@media only screen and (max-width: 600px) {
 body{
    background-attachment: fixed;
 }
}
